.col{
    display: flex;
    flex-direction: column;
}
.row{
    border: solid black 1px;
    height: 10px;
    width: 10px;
}

.container{
    display: flex;
    
    justify-content: flex-start;
    flex-wrap:wrap;
   
    
   
}
body{
    display: flex;
    justify-content: center;
}